 :root{
    --color1: #131921;
    --color2: #cd9042;
 }
 
 .header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--color1);
    position: sticky;
    top: 0;
    z-index: 100;
 }
 .header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
 }
.header__search{
     display: flex;
     flex: 1;
     align-items: center;
     border-radius: 24px;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

 .header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: var(--color2);
 }

 
 .header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
 }
 .header__nav{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
 }
 .header__optionLine-1{
    font-size: 10px;
 }
 .header__optionLine-2{
    font-size: 13px;
    font-weight: 800;
    color: white;
}
.header__optionLine-1 > a{
   text-decoration: none;
}
.header__optionLine-2 > a{
   text-decoration: none;
}
 .header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
 }
 .header__basketCount a{
   text-decoration: none;
 }

 .header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
    color: var(--color2);
    font-size: 1.3rem;
 }

 .header__optionLine-2 .header__basketCount a{
   text-decoration: none !important;
 }

 @media screen and (max-width: 1200px) {
   .header{
      max-height: 50px;
   }
 }